<form class="well" >
	<fieldset>
		<legend>Login</legend>
		<div class="control-group">
			<label for="email">Email Address</label>
			<div class="input">
				<input type="text" class="medium" name="email" id="email"></input>
			</div>
		</div>
		<div class="control-group">
			<label for="password">Password</label>
			<div class="input">
				<input type="password" class="medium" name="password" id="password"></input>
			</div>
		</div>
		<div class="control-group">
			<input type="submit" class="btn" id="login" name="login" value="Login">
		</div>
		<div id="response" class="alert alert-block" style="display: none"></div>
	</fieldset>
</form>