<form class="well">
	<fieldset>
		<legend>Register as a user</legend>
		<div class="control-group">
			<label for="email">Email Address</label>
			<div class="input">
				<input type="text" class="medium" name="email" id="email"></input>
			</div>
		</div>
		<div class="control-group">
			<label for="password">Password</label>
			<div class="input">
				<input type="password" class="medium" name="password" id="password"></input>
			</div>
		</div>
		<div class="control-group">
			<label for="password2">Repeat Password</label>
			<div class="input">
				<input type="password" class="medium" name="password2" id="password2"></input>
			</div>
		</div>
		<div>
			<input type="submit" class="btn" id="register" name="register" value="Register">
		</div>
		<div id="response" class="alert alert-block" style="display: none"></div>
	</fieldset>
</form>